html,
body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Poppins", Arial, sans-serif;
}

.spotlight-bg {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: top;
}

@media only screen and (max-width: 768px) {
    .spotlight-bg {
        background-position: center;
    }
}

.h-100-vh {
    height: 100vh !important;
}

.header-title {
    font-family: 'Baloo Paaji', cursive !important;

    .up {
        font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1300 - 300)));
        font-weight: 500;
        color: #444;
        margin-bottom: 5px;
        position: relative;
        display: block;
    }

    .down {
        font-size: calc(30px + (75 - 30) * ((100vw - 300px) / (1300 - 300)));
        margin-bottom: 0;
        position: relative;
        display: block;
        font-weight: bolder;
    }
}

.header-subtitle {
    font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1300 - 300)));
    letter-spacing: calc(1px + (7 - 1) * ((100vw - 300px) / (1300 - 300)));
    opacity: .8;
    margin-top: -10px;
    margin-bottom: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.my-pic-container {
    height: 100%;
    width: 100%;
    padding: 10%;
    /* background-color:azure; */
}

.about-me-content {
    padding: 10%;
    height: 100%;
    width: 100%;
    /* background-color: aliceblue; */
}

.my-pic {
    height: 100%;
    width: 100%;
    border: 0px solid black;
    border-radius: 7%;
}

.mr-3 {
    margin-right: 3%;
}

table {
    width: 100%;
}

.about {
    height: 100%;
}